services:
  producer:
    build: ./producer/.
    ports: 
      - "3001:3000"
    volumes:
      - ./producer/:/usr/app/
  bitcoin-consumer:
    build: ./bitcoin-consumer/.
    volumes:
      - ./bitcoin-consumer/:/usr/app/
  credit-consumer:
    build: ./credit-consumer/.
    volumes:
      - ./credit-consumer/:/usr/app/
    deploy:
      replicas: 2
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "15672:15672"
